<div id="countdownContainer">
    <div id="timer-choices">
        <p>Input the duration of your fast
        </p>
        <input type="text" id="fastDuration" placeholder="enterHours"/>
    </div>
    <h1 id="timer"></h1>
    <button>START</button>
</div>